* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 0; 
} 
.img {  
    width: 100%; 
}                                                                                                                                                                                                  
.clear {
    clear: both; 
}
.topmenu_bar_overall {
    display: none;
}
.topmenu_bar {
    display: none;
}
.leftsidebar {
    background-color: rgb(83, 81, 81);
    position: fixed;
    height: 100vh;
    width: 25%; 
} 
.flomic {
    width: 100%;
    height: 160px;
    margin-top: 50px;
    margin-bottom: 40px;
}
.navbar {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: rgb(58, 54, 54);
    text-align: center;
}
.c1 { 
    color: whitesmoke;
}
.c2 {
    color: whitesmoke;
}
.c3 {
    color: whitesmoke;
}
.c4 {
    color: whitesmoke;
}
.blue {
    border-left: solid 5px rgb(23, 105, 212);
    border-bottom: solid 0.3px rgb(89, 90, 92);
    padding: 16px 6px;
}
.orange {
    border-left: solid 5px orange;
    border-bottom: solid 0.3px rgb(89, 90, 92);
    padding: 16px 6px;
}
.purple {
    border-left: solid 5px purple;
    border-bottom: solid 0.3px rgb(89, 90, 92);
    padding: 16px 6px;
}
.lightgreen {
    border-left: solid 5px limegreen;
    border-bottom: solid 0.3px rgb(89, 90, 92);
    padding: 16px 6px;
}
.pink {
    border-left: solid 5px rgb(221, 33, 64);
    padding: 16px 6px;
}
.clr {
    color: rgb(23, 105, 212);
}
.clr:active {
    color: whitesmoke;
}
.c1:active {
     color: orange;
}
.c2:active {
    color: purple;
}
.c3:active {
    color: limegreen;
}
.c4:active {
    color: rgb(221, 33, 64);
}
.rightside_bar {
    width: 73%;                              
    margin-left: 25%; 
    background-color: #7a0edf;
}
.rightside {  
    width: 100%; 
    text-align: center;        
}
.pic1 {
    background: url('https://www.teahub.io/photos/full/37-378593_sunset-sky-photos-high-resolution-sunset-sky-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
}
.lightblack {
    background-color: rgba(35, 44, 44, 0.692);
    width: 100%;
    height: 600px;
}
.picheading {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bolder;
    padding-top: 150px;
}
.picsecond_heading {
    color: rgb(255, 255, 255);
    text-transform: uppercase; 
    font-family: sans-serif;
    font-size: 1rem; 
    font-weight: 500;
    padding-top: 35px; 
}
.readmore {
    margin-top: 5%;
    background-color: rgb(41, 117, 216);
    color: white;
    padding: 15px 12px;
    border-bottom: blue solid 0.4em;
    text-transform: uppercase;
    font: 1em sans-serif;
    font-weight: 550;    
    border-bottom-left-radius: 0.2em;
    border-bottom-right-radius: 0.2em;                                                        
}
.radio {
    padding-top: 2%;
}
.radio1 {
    margin: 0 1%; 
}   
.welcome {
    width: 100%;
    color: rgb(41, 117, 216); 
    font-family: sans-serif;
    font-size: xx-large;
    text-transform: uppercase;            
    text-align: center; 
    padding-top: 5%;
    padding-bottom: 1%;
}
.para1 {
    width: 100%;
    text-align: center; 
}
.lightblue {
    color: rgb(41, 117, 216);
}
.content1 {
    padding-top: 3%;
}
.content1_1 {
    width: 100%;
    border-top: solid #e28024 5px;
    display: inline-block;           
}
.bigbutton1 { 
    background-color: orange;
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 2px 10px;
    padding-bottom: 10px;
    border: 0;
    text-decoration: none;
}
.content2 {   
    width: 100%;
    padding-top: 5%;
    text-align: center;
}
.img_vijay {
    margin-left: 8%;
    display: grid;
    grid-template-columns: 33.3333333% 33.3333333% 33.3333333%; 
    align-content: space-around; 
}
.vijaypic_content1 {
    border-bottom: #e28024 solid 4px;
    display: inline-block;
    width: 77.4%;   
} 
.pic_adjus{  
   width: 320px;
   height: 300px;
} 
.paragraphy_1 {
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    color: chocolate; 
    text-align: center;
    padding: 2%;
}
.paragraphy_2 {
    text-transform: capitalize;
    font-size: 0.8em;
    font-weight: 500; 
    color: grey; 
    text-align: center; 
    padding: 2%;
}
.content3 {
    width: 100%;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: space-around;
    margin-left: 1%;
} 
.macbook {
    width: 330px;
    height: 400px;
    padding-top: 10%;
}
.content4 {
    width: 100%;
    padding-top: 8%;
}
.services {
    width: 100%;
    border-top: solid #7a0edf 5px; 
    display: inline-block;
   
}
.bigbutton2 {
    background-color: blueviolet; 
    color: white;
    text-transform: uppercase;  
    text-decoration: none;                                                   
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold; 
    padding: 1px 10px;
    padding-bottom: 11px;
    border: 0;
} 
.service_content {
    width: 100%;
    margin-left: 1%;
    padding-top: 5%;
    display: grid;
    grid-template-columns: 28% 28% 28%;
    column-gap: 2%;
}
.leftcontent {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 6% ;
} 
.menucontent {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 6%;
}
.rightcontent {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 6%;
}
.myskills {
    width: 75%;
    margin-left: 31%;
    padding-top: 5%; 
    display: grid;
    grid-template-columns: 50% 30%;
    column-gap: 1%;
}
.skills {
    border: 0.1px solid rgb(180, 175, 180); 
    border-top-right-radius: 1rem;
    border-bottom-right-radius:  1rem; 
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem; 
    box-shadow: 6px -3px 12px 1px rgb(180 175 180) inset;
    margin: 3% 0;
}  
.grapics_percentage {
    width: 90%;
    background-color: blueviolet;
    color: white; 
    border-radius: 1rem;
    text-transform: uppercase; 
    font: 0.8em sans-serif;
    font-weight: 500;
    padding: 3% ;
    text-align: center;
} 
.html_css_percentage {
    width: 75%;
    background-color: blueviolet;
    color: white;
    border-radius: 1rem;
    text-transform: uppercase;
    font: 0.8em sans-serif;
    font-weight: 500;
    padding: 3% ;
    text-align: center;
}
.wordpress_percentage {
    width: 66%;
    background-color: blueviolet;
    color: white;
    border-radius: 1rem;   
    text-transform: uppercase;
    font: 0.8em sans-serif;
    font-weight: 500;
    padding: 3%;
    text-align: center;
}
.marketing_percentage {
    width: 88%;
    background-color: blueviolet;
    color: white;
    border-radius: 1rem;
    text-transform: uppercase;
    font: 0.8em sans-serif;
    font-weight: 500;
    padding: 3% ;
    text-align: center;
}
.portfolio {
    width: 75%;
    margin-left: 28%;
    padding-top: 8%; 
}
.portfolio1  {
    width: 92%;
    border-top: solid 5px green;
    display: inline-block;
}
.portfolio_button {
    background-color: rgb(69, 182, 69);
    color: white; 
    text-transform: uppercase;   
     text-decoration: none;    
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: bold; 
    padding: 1px 10px;
    padding-bottom: 10px; 
    border: 0; 
}
.portfolio_works_set1 {
    width: 75%;
    margin-left: 31%;
    padding-top: 8%; 
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
}
.works1 {
    width: 55.8%;
    border-bottom: rgb(221, 33, 64) solid 5px;  
    display: inline-block; 
}
.works2 {
    width: 55.8%;
    border-bottom: rgb(33, 130, 221) solid 5px;  
    display: inline-block;
}
.works3 {
    width: 55.8%;
    border-bottom: rgb(55, 221, 33) solid 5px;  
    display: inline-block;
}
.portfolio_works_set2 {
    width: 75%; 
    margin-left: 31%;
    padding-top: 8%;  
    display: grid;
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
}
.works4 {
    width: 55.8%;
    border-bottom: rgb(207, 205, 65) solid 5px;  
    display: inline-block;
}
.works5 {
    width: 55.8%;
    border-bottom: rgb(230, 143, 14) solid 5px;
    display: inline-block;              
}
.works6 {
    width: 55.8%;
    border-bottom: rgb(157, 30, 216) solid 5px; 
    display: inline-block;  
}
.load_more {
    width: 75%;
    margin-left: 25%;
    padding-top: 5%;
   text-align: center;
}
.contact_us {
    width: 75%;
    margin-left: 25%;
    padding-top: 5%;
}
.contact_us_margin {
    width: 90%;
    border-top: rgb(179, 5, 34) solid 5px;
    display: inline-block;
    margin-left: 5%;
}
.map {
    width: 75%;
    padding-top: 5%;
}
.iframe {
    border: double 0.7rem rgb(236, 230, 230); 
    width: 1170px;
    height: 460px;
}
.search {
    width: 75%;
    margin-left: 34%;
    padding-top: 4%; 
    display: grid;
    grid-template-columns: 25% 25% 25%;
}
.name_query { 
    text-transform: capitalize;
    color: grey;      
    font-size: medium;                              
    font-weight: 500;  
    display: inline-flex; 
    padding-bottom: 1%;
}
.search_box {
    width: 75%;
    margin-left: 34%;  
    display: grid;
    grid-template-columns: 25% 25% 25%;
}
.message_box {
    width: 70%;
    margin-left: 34%; 
    padding-top: 5%;  
}
.send_message {
    width: 90%;
    padding-top: 2%;
}
.text_area {
    width: 80%;
    height: 180px;  
}
.footer_sec { 
    margin-left: 25%;
    width: 75%; 
    background-color: rgb(90, 88, 88); 
    padding: 3%; 
    display: inline-flex;
    text-align: center;
    column-gap: 0.4%; 
}  
.footer_sec2 {
    margin-left: 25%;
    width: 75%; 
    background-color: rgb(39, 38, 38); 
    padding: 1%;
    display: inline-flex;
    text-align: center;                                      
    column-gap: 0.4%;
    text-align: center; 
}  
 /*@media only screen and (min-width:30px) and (max-width:800px) {
    .overall {
        width: 100%;
    }
        .leftsidebar {
             display: none;
        }
        .topmenu_bar_overall {
           display: block;
           width: 100%;                                                              
           background-color: rgb(32, 30, 30);
           padding: 2%;                                                                    
        }                                                                                                                                                           
        .topmenu_bar {
            display: grid; 
            justify-content: center;  
            padding: 2%; 
        }
        .flomic {                                                                                 
            width: 130px;
            height: 55px;     
            padding: 0 3%; 
            margin: 1% 0;
        } 
        .navbar1 {
            font-size: 12px;
            text-transform: uppercase;       
            font-weight: bold;
            display: grid;
            grid-template-columns: 17% 17% 17% 18% 17%;  
            justify-content: center;
            column-gap: 4px;  
        } 
        .rightsidebar {
            width: 100%;
            margin: 0;           
        }
        .pic1 {
            width: 100%;
            height: 220px;
        }
        .lightblack {
            width: 100%;
            height: 220px;
        }
        .picheading {
            font-size: 1.2em;
            font-weight: bold;
            padding-top: 40px; 
        }
        .picsecond_heading {
            font-size: 0.6rem; 
            font-weight: 400;
            padding-top: 20px; 
        }
        .readmore {
            margin-top: 5%;
            padding: 5px 3px;
            border-bottom: blue solid 0.3em;
            font-size: 0.7em;    
            font-weight: 300;     
        }
        .radio {
            padding-top: 4%; 
        }
        .welcome {
            font-size: large;
            margin: 2%; 
            padding-top: 2%;
            padding-bottom: 1%;
        }
        .para1 {
            margin: 2%; 
            font-size: 0.8em;
        }
        .content1 {          
            width: 100%;
            padding-top: 1%;
            margin-left: 10%; 
        }
        .content1_1 {
            width: 80%;
            border-top: solid #e28024 3px;
            margin: 0%;
        }
        .bigbutton1 {
            font-size: 0.6rem;
            font-weight: 700;
            padding: 9px 7px; 
        }  
       
        .pic_adjus{
           width: 87.8px;
           height: 80px;
        }
        .paragraphy_1 {
            font-size: 0.6em;
            font-weight: 800;
            padding: 2%;
        }
        .paragraphy_2 {
            font-size: 0.6em;
            font-weight: 400;
            padding: 2%;
        }
        .content3 {
            width: 100%;
            padding-top: 5%;
        }
        .leftpara {
            display: grid;
            grid-template-rows: 100%;
        }
        .rightimg {
            display: grid; 
            grid-template-rows: 100%; 
        }
        .content4 {
            width: 100%;
            padding-top: 5%;
        }
        .services {
            width: 100%;
            border-top: solid #7a0edf 5px;
        }
        .bigbutton2 {
            font-size: 0.5rem;
            font-weight: bold;
            padding: 9px 7px;
        } */
      /*  .service_content {
            width: 80%;
            padding-top: 5%;
            margin-left: 10%;
            display: grid;
            grid-template-columns: 33.3333333% 33.3333333% 33.3333333%;
            justify-content: space-evenly;
            column-gap: 11px;
        }
        .leftcontent {
            background-color: blueviolet;
            color: white;
            text-align: center;
            padding: 7% 3%;
        } 
        .menucontent {
            background-color: blueviolet;
            color: white;
            text-align: center;
            padding: 7% 3%;
        }
        .rightcontent {
            background-color: blueviolet;
            color: white;
            text-align: center;
            padding: 7% 3%;
        }
        .myskills { 
            width: 80%;
            margin-left: 10%;
            padding-top: 5%; 
            display: grid;
            grid-template-areas: "left right"; 
        }
        .skills_content_left {
            grid-area: left;
        }
        .skills_content_right {
            grid-area: right;
        }
        .skills {
            width: 100%; 
            border: 0.1px solid rgb(180, 175, 180); 
            border-top-right-radius: 1rem;
            border-bottom-right-radius:  1rem; 
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem; 
            box-shadow: 6px -3px 12px 1px rgb(180 175 180) inset;
            margin: 3% 0;
        } 
        .grapics_percentage {
            width: 90%;
            background-color: blueviolet;
            color: white; 
            border-radius: 1rem;
            text-transform: uppercase; 
            font: 0.8em sans-serif;
            font-weight: 500;
            padding: 3% ;
            text-align: center;
        } 
        .html_css_percentage {
            width: 75%;
            background-color: blueviolet;
            color: white;
            border-radius: 1rem;
            text-transform: uppercase;
            font: 0.8em sans-serif;
            font-weight: 500;
            padding: 3% ;
            text-align: center;
        }
        .wordpress_percentage {
            width: 66%;
            background-color: blueviolet;
            color: white;
            border-radius: 1rem;   
            text-transform: uppercase;
            font: 0.8em sans-serif;
            font-weight: 500;
            padding: 3%;
            text-align: center;
        }
        .marketing_percentage {
            width: 88%;
            background-color: blueviolet;
            color: white;
            border-radius: 1rem;
            text-transform: uppercase;
            font: 0.8em sans-serif;
            font-weight: 500;
            padding: 3% ;
            text-align: center;
        }
        .portfolio {
            width: 80%;
            margin-left: 10%;
            padding-top: 8%; 
        }
        .portfolio1  {
            width: 100%;
            border-top: solid 5px green;
            display: inline-block;
        }
        .portfolio_button {
            background-color: rgb(69, 182, 69);
            color: white; 
            text-transform: uppercase;
            font-family: sans-serif;
            font-size: 1rem;
            font-weight: bold; 
            padding: 15px 10px; 
            border: 0; 
        }
        .portfolio_works_set1 {
            width: 80%;
            margin-left: 10%;
            padding-top: 8%; 
            display: grid;
            grid-template-columns: 33.333333% 33.333333% 33.333333%;
            column-gap: 20px;
        }
        .works1 {
            width: 87%;
            border-bottom: rgb(221, 33, 64) solid 5px;  
        }
        .works2 {
            width: 87%;
            border-bottom: rgb(67, 104, 223) solid 5px;  
        }
        .works3 {
            width: 87%;
            border-bottom: rgb(55, 221, 33) solid 5px;   
        }
        .portfolio_works_set2 {
            width: 80%;
            margin-left: 10%;
            padding-top: 8%; 
            display: grid;
            grid-template-columns: 33.333333% 33.333333% 33.333333%;
            column-gap: 20px;
        }
        .works4 {
            width: 87%;
            border-bottom: rgb(207, 205, 65) solid 5px;  
        }
        .works5 {
            width: 87%;
            border-bottom: rgb(230, 143, 14) solid 5px;  
        }
        .works6 {
            width: 87%;
            border-bottom: rgb(157, 30, 216) solid 5px;   
        }
        .load_more {
            width: 80%;
            margin-left: 10%;
            padding-top: 5%;
           text-align: center;
        }
        .contact_us {
            width: 80%;
            margin-left: 10%;
            padding-top: 5%;
        }
        .contact_us_margin {
            width: 100%;
            border-top: rgb(179, 5, 34) solid 5px;
            display: inline-block;
        }
        .map {
            width: 80%;
            margin-left: 10%;
            padding-top: 5%;
        }
        .iframe {
            border: double 0.7rem rgb(236, 230, 230); 
        }
        .search {
            width: 80%;
            margin-left: 10%;
            padding-top: 4%;
            display: grid;
            grid-template-columns: 33.333333% 33.333333% 33.333333%;
        }
        .name_query {
            text-transform: capitalize;
            color: grey;      
            font-size: medium;                              
            font-weight: 500;  
            display: inline-flex; 
            padding-bottom: 1%;
        }
        .search_box {
            width: 80%;
            margin-left: 10%;
            display: grid;
            grid-template-columns: 33.333333% 33.333333% 33.333333%;
        }
        .message_box {
            width: 80%;
            margin-left: 10%;
            padding-top: 5%;
        }
        .send_message {
            width: 80%;
            margin-left: 10%;
            padding-top: 2%;
        }
        .footer {
            width: 100%;
            padding-top: 6%;
        }
        .footer_sec {
            width: 100%;
            background-color: rgb(90, 88, 88); 
            padding: 3%; 
            display: inline-flex;
            text-align: center;
            column-gap: 0.4%;
            padding-left: 38%;
        }  
        .footer2 {
            width: 100%; 
        }
        .footer_sec2 {
            width: 100%;
            background-color: rgb(39, 38, 38); 
            padding: 2%;
            display: inline-flex;
            text-align: center;                                      
            column-gap: 0.4%;
            text-align: center; 
            padding-left: 42%; 
        } 
    }*/
 /*@media only screen and (min-width:800px) and (max-width:1600px) {
    .overall {
        width: 100%;  
    }
}
@media only screen and (min-width:1600px) and (max-width:3000px) {
    .overall {
        width: 100%;
    }

}

}